<!-- <p>produit works!</p>

 -->
<!--  
 <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let produit of produits">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ produit.titre | uppercase }}</h5>
            <p class="card-text">{{ produit.prix | currency:'EUR':true:'1.2-2' }}</p>
            <button class="btn btn-primary" (click)="afficherDetail(produit)">Voir Détails</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div *ngFor="let produit of produits">
  <app-detail-produit [produit]="produit" (click)="produitDetail(produit)"></app-detail-produit>
</div>
   -->


<!-- <body>
    <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let produit of produits">
        <div class="card mb-3"> -->
            <!-- <img [src]="assets/images" class="card-img-top" alt="{{ produit.titre }}"> -->

            <!-- <img [src]="produit.image" class="card-img-top" alt="{{ produit.titre }}"> -->

            <!-- <img [src]="'assets/images/image1.png'" class="card-img-top" alt="Description de l'image"> -->
<!-- <div class="card-body">
            <h5 class="card-title">{{ produit.titre | uppercase }}</h5>
            <p class="card-text">{{ produit.prix | currency:'EUR':true:'1.2-2' }}</p>
            <button class="btn btn-primary" (click)="afficherDetail(produit)">Voir Détails</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->





  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let produit of produits">
        <div class="card mb-3">
          <img [src]="produit.image" class="card-img-top" alt="{{ produit.titre }}">
          <div class="card-body">
            <h5 class="card-title">{{ produit.titre | uppercase }}</h5>
            <p class="card-text">{{ produit.prix | currency:'EUR':true:'1.2-2' }}</p>
            <button class="btn btn-primary" (click)="afficherDetail(produit)">Voir Détails</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- Afficher le composant DetailProduit seulement lorsque un produit est sélectionné -->
  <!-- <app-detail-produit *ngIf="selectedProduit" [produit]="selectedProduit"></app-detail-produit> -->
  
  
  <!-- <div *ngFor="let produit of produits">
    <app-detail-produit [produit]="produit" (click)="produitDetail(produit)"></app-detail-produit>
  </div> -->

  
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let produit of produits">
        <div class="card mb-3">
          <img [src]="produit.image" class="card-img-top" alt="{{ produit.titre }}">
          <div class="card-body">
            <h5 class="card-title">{{ produit.titre | uppercase }}</h5>
            <p class="card-text">{{ produit.prix | currency:'EUR':'symbol':'1.2-2' }}</p>
            <button class="btn btn-primary" (click)="afficherDetail(produit)">Voir Détails</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-detail-produit *ngIf="selectedProduit" [produit]="selectedProduit"></app-detail-produit>
   

